<div id="container" class="horizontal-fixed">
			
			<header class="header" role="banner">
                            <div id="header-wrapper" class="horizontal-fixed">
				<div id="inner-header" class="wrap clearfix">
					
					<!-- to use a image just replace the bloginfo('name') with your img src and remove the surrounding <p> -->
                                                                                    <div id="logo" class="h1">
                                                <span><a href="http://www.feedbackshield.com" rel="nofollow">
                                                                                                            <img src="http://www.feedbackshield.com/wp-content/uploads/2013/10/feedbackshield-logo.png" alt="Feedback Shield" />
                                                                                                        </a>
                                                </span>
                                            </div>
					                                    
					<!-- if you'd like to use the site description you can un-comment it below -->
					                                        	
					
					<nav role="navigation" class=" horizontal-fixed">
                        <div id="mobile-nav-button"></div>
						<ul id="menu-top-nav" class="nav top-nav clearfix"><li id="menu-item-1089" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page"><a data-slide="home" data-parent="http://www.feedbackshield.com/" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page" href="http://www.feedbackshield.com/one-page-holder/home/">Home</a></li>
<li id="menu-item-1216" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page"><a data-slide="concept" data-parent="http://www.feedbackshield.com/" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page" href="http://www.feedbackshield.com/one-page-holder/concept/">The Concept</a></li>
<li id="menu-item-1215" class="menu-item menu-item-type-custom menu-item-object-custom"><a data-slide="1844-fbshield" data-parent="http://www.feedbackshield.com/behind-the-scenes/" class="menu-item menu-item-type-custom menu-item-object-custom" href="tel:8443274435">1(844) FBSHIELD</a></li>
<li id="menu-item-1165" class="menu-item menu-item-type-custom menu-item-object-custom"><a data-slide="login" data-parent="http://www.feedbackshield.com/behind-the-scenes/" class="menu-item menu-item-type-custom menu-item-object-custom" href="http://collect.reviews/site/login">Login</a></li>
</ul>                                                <div id="header3" class="last" role="complementary">

                                                    
                                                </div>
					</nav>
                                </div> <!-- end #inner-header -->
                            </div> <!-- end #header-wrapper -->
                                
                                			
			</header> <!-- end header -->

			<div id="content">

                                			
                                    
				<div id="inner-content" class="wrap clearfix">
			
				    <div id="main" class="twelvecol first clearfix" role="main">

					    					
					    <article id="post-1252" class="clearfix post-1252 page type-page status-publish hentry" role="article">

						    <section class="entry-content clearfix">
							    </section></article></div></div><div class="full default" style="display:block !important;background-color:#fff; border-top:; border-bottom:; padding:60px 0px;"><div class="wrap clearfix">
<h1 class="myFont" style="text-align: center;"><span style="color: #ae895d;">we&#8217;ve made this quite simple.</span></h1>
<hr class="symple-spacing " style="height: 30px" />
<h3 style="text-align: center;"><span style="color: #d6d6d6;"><strong>Customer Facing</strong></span></h3>
<img class="aligncenter wp-image-1467 size-large" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-front-end-1024x533.png" alt="feedbackshield-front-end" width="960" height="499" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-front-end-1024x533.png 1024w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-front-end-300x156.png 300w" sizes="(max-width: 960px) 100vw, 960px" />
<p style="text-align: center;"><span style="font-size: small;">The platform is a tool for successful businesses, designed to be straightforward and easy to use, while collecting leads for future marketing campaigns.</span></p>
<p style="text-align: center;"><a class="button medium  custom " target="_blank" href="http://coffeecommissary.collect.reviews" data-slide=""><span class="button-text">Experience the Demo</span></a>
</div></div><div><div class="wrap clearfix"><article role="article"><section class="entry-content clearfix">
<div class="clearfix"></div>
<hr class="symple-spacing " style="height: 90px" />
<h3 style="text-align: center;"><span style="color: #d6d6d6;"><strong>Client Facing</strong></span></h3>
<p style="text-align: center;"><span style="color: #414141; font-size: small;">You’re busy, so we make it painless. Login, setup and go. Customize your feedback landing page how you want it to look. Add or remove review platforms, tailor messages to customer, and change your display image with just a few clicks. It doesn&#8217;t get easier than this.</span></p>
<hr class="symple-spacing " style="height: 15px" />
<div class="sixcol" style="float:;">
<img class="aligncenter wp-image-1411" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-01.png" alt="feedbackshield-01" width="467" height="351" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-01.png 748w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-01-300x225.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-01-240x180.png 240w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-01-192x144.png 192w" sizes="(max-width: 467px) 100vw, 467px" /><br />
</div>
<div class="sixcol last" style="float:;">
<img class="aligncenter wp-image-1412" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-02.png" alt="feedbackshield-02" width="467" height="351" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-02.png 748w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-02-300x225.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-02-240x180.png 240w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-02-192x144.png 192w" sizes="(max-width: 467px) 100vw, 467px" /><br />
</div><div class="clearboth"></div>
<div class="sixcol" style="float:;">
<img class="aligncenter wp-image-1413" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-04.png" alt="feedbackshield-04" width="467" height="351" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-04.png 748w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-04-300x225.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-04-240x180.png 240w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-04-192x144.png 192w" sizes="(max-width: 467px) 100vw, 467px" /><br />
</div>
<div class="sixcol last" style="float:;">
<img class="aligncenter wp-image-1414" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-05.png" alt="feedbackshield-05" width="467" height="351" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-05.png 748w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-05-300x225.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-05-240x180.png 240w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-05-192x144.png 192w" sizes="(max-width: 467px) 100vw, 467px" /></div><div class="clearboth"></div>
<div class="sixcol" style="float:;">
<img class="aligncenter wp-image-1415" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-07.png" alt="feedbackshield-07" width="467" height="351" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-07.png 748w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-07-300x225.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-07-240x180.png 240w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-07-192x144.png 192w" sizes="(max-width: 467px) 100vw, 467px" /></div>
<div class="sixcol last" style="float:;">
<img class="aligncenter wp-image-1416" src="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-06.png" alt="feedbackshield-06" width="467" height="351" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-06.png 748w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-06-300x225.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-06-240x180.png 240w, http://www.feedbackshield.com/wp-content/uploads/2014/09/feedbackshield-06-192x144.png 192w" sizes="(max-width: 467px) 100vw, 467px" /></div><div class="clearboth"></div>
<div class="clearfix"></div>
<h1 class="myFont" style="text-align: center;"><span style="color: #ae895d;">capitalize extreme targeted data &#038; leads.</span></h1>
<p style="text-align: center;"><span style="color: #414141; font-size: small;">Our mini CRM (Customer Relations Management) feature stores all feedback received from customers. This will provide the business a better understanding of their service and use this data for other marketing opportunities such as email marketing, SMS marketing social media and more.</span></p>
<p><img src="http://www.feedbackshield.com/wp-content/uploads/2014/09/fbs-crm.png" alt="fbs-crm" width="850" height="293" class="aligncenter size-full wp-image-1491" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/09/fbs-crm.png 850w, http://www.feedbackshield.com/wp-content/uploads/2014/09/fbs-crm-300x103.png 300w" sizes="(max-width: 850px) 100vw, 850px" /><br />
<hr class="symple-spacing " style="height: 30px" />
						    </section> <!-- end article section -->
						
						    <!--<footer class="article-footer">
			
							    <p class="clearfix"></p>
							
						    </footer> <!-- end article footer -->
						    
						    
<!-- You can start editing here. -->




		
	<!-- If comments are closed. -->
	<!--p class="nocomments">Comments are closed.</p-->

	
					
					    </article> <!-- end article -->
					
					    	
					
					    			
				    </div> <!-- end #main -->
    
				</div> <!-- end #inner-content -->
    
			</div> <!-- end #content -->

			<footer class="footer" role="contentinfo">
			                                <div id="footer-copy">
                                    <div id="inner-footer" class="wrap clearfix">

                                        <nav role="navigation">
                                                                                    </nav>

                                        <p style="text-align: center;font-size: 12px"><a href="/home">HOME</a> | <a href="/?slide=concept">CONCEPT</a> | <a href="/behind-the-scenes/">HOW IT WORKS</a> | <a href="/?slide=contact">CONTACT</a><br />
&copy; 2014 Feedback Shield | <a href="/tos-privacy-policy">TOS &amp; PRIVACY POLICY</a> | All Rights Reserved</p>

                                    </div> <!-- end #inner-footer -->
                                </div>
			</footer> <!-- end footer -->
		
		</div> <!-- end #container -->
		
                <script type="text/javascript">  	                 
/*-----------------------------------------------------------------------------------

 	ScrollTo
 
-----------------------------------------------------------------------------------*/
(function($) {
  "use strict";
  jQuery(document).ready(function($) {
  		jQuery('a.scroll-link').click(function (e) {  
                          
        e.preventDefault();
  			jQuery.scrollTo.window().queue([]).stop(); // Prevent scroll queue from building up
        var dataSlide = $(this).attr('data-slide');
        var dataName = $('div[data-name='+dataSlide+']');
        if (typeof dataSlide !== 'undefined' && dataSlide !== false && dataName.length > 0){
            if(dataName.offset().top > 250) {
                var offsetHeight = 0 - 60;
            }
            else {
                var offsetHeight = 0 - 80;
            }
      			var header = $('#header-wrapper');
      			if (header.css('position') != 'fixed' || header.css('display') == 'none') { offsetHeight = 0; };      
        
            jQuery(window).scrollTo(dataName, {duration:1600, easing:'swing', offset:offsetHeight, axis:'y' }, {queue:false});
        }
        else {
            document.location.href= $(this).attr('data-parent') + '?slide=' + dataSlide;
        }
      });
                        
  });
})(jQuery);

/*-----------------------------------------------------------------------------------

  ScrollTo Slide GET
 
-----------------------------------------------------------------------------------*/
 /*-----------------------------------------------------------------------------------

 	Navigation Scroll
 
-----------------------------------------------------------------------------------*/
(function($) {
  "use strict";
    jQuery(window).scroll(function($) {    
       var scroll = jQuery(window).scrollTop();
       if (scroll >= 250) {
           jQuery("#header-wrapper").addClass("scrolled-nav");
       }
       else {
           jQuery("#header-wrapper").removeClass("scrolled-nav");
       }
   });
})(jQuery);
 
	<!-- Clicky Web Analytics - http://clicky.com, WordPress Plugin by Yoast - https://yoast.com/wordpress/plugins/clicky/ -->
			<script type='text/javascript'>
			function clicky_gc(name) {
				var ca = document.cookie.split(';');
				for (var i in ca) {
					if (ca[i].indexOf(name + '=') != -1) {
						return decodeURIComponent(ca[i].split('=')[1]);
					}
				}
				return '';
			}
			var username_check = clicky_gc('comment_author_90850947621e2bee477d5fa5d03c5e04');
			if (username_check) var clicky_custom_session = {username: username_check};
		</script>
		<script type="text/javascript">
				var clicky = { log : function () { return true;	}, goal: function () { return true;	} };
		var clicky_site_id = 100770465;
		(function () {
			var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//static.getclicky.com/js';
			( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild(s);
		})();
	</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100770465ns.gif" /></p></noscript>
