<div id="content">

    <div id="container-348" class="container" data-name="home">
              
        <div class="wrap clearfix inner-content">

            <div class="twelvecol first clearfix main" role="main">

                <article id="post-348" class="clearfix post-1051 page type-page status-publish hentry" role="article">

                    <section class="entry-content clearfix">
                        </section></article></div></div><div class="full default" style="display:block !important;background-color:#414141; border-top:; border-bottom:; padding:0px 0px;"><div class="wrap clearfix"><hr class="symple-spacing " style="height: 30px" />
<div class="luxe-animate hidden fadeInDown" style="-webkit-animation-delay:s;
                               -moz-animation-delay:s;
                                -ms-animation-delay:s;
                                 -o-animation-delay:s;
                                    animation-delay:s; -webkit-animation-delay:s;
                                 -moz-animation-delay:s;
                                  -ms-animation-delay:s;
                                   -o-animation-delay:s;
                                      animation-delay:s;">
<h1 class="myFont" style="text-align: center;"><span style="color: #f6f6f6;">which location would you approach?</span></h1>
<p style="text-align: center;"><span style="color: #ae895d;">Be honest.</span></p>
</div>
<div class="luxe-animate hidden fadeInUp" style="-webkit-animation-delay:s;
                               -moz-animation-delay:s;
                                -ms-animation-delay:s;
                                 -o-animation-delay:s;
                                    animation-delay:s; -webkit-animation-delay:s;
                                 -moz-animation-delay:s;
                                  -ms-animation-delay:s;
                                   -o-animation-delay:s;
                                      animation-delay:s;"><img class="aligncenter size-full wp-image-1238" src="http://www.feedbackshield.com/wp-content/uploads/2012/09/fbs-metaslider.png" alt="fbs-metaslider" width="960" height="500" srcset="http://www.feedbackshield.com/wp-content/uploads/2012/09/fbs-metaslider.png 960w, http://www.feedbackshield.com/wp-content/uploads/2012/09/fbs-metaslider-300x156.png 300w" sizes="(max-width: 960px) 100vw, 960px" /></div></div></div><div><div class="wrap clearfix"><article role="article"><section class="entry-content clearfix">
<hr class="symple-spacing " style="height: 30px" />
<div class="fourcol" style="float:;">
<p><center><i class="icon-thumbs-up" style="font-size:80px; color:;"></i></center></p>
<h4 style="text-align: center;">Boost Confidence</h4>
<p style="text-align: center;"><span style="font-size: small;">83% of consumers admit <strong>reviews impacted their purchasing decision</strong>. Having negative or zero reviews can damage consumer confidence.</span></p>
</div>
<div class="fourcol" style="float:;">
<p><center><i class="icon-megaphone" style="font-size:80px; color:;"></i></center></p>
<h4 style="text-align: center;">Increase Sales</h4>
<p style="text-align: center;"><span style="font-size: small;">89% of consumers do <strong>additional research online before spending money</strong> on a product or service. Drive more sales with great reviews.</span></p>
</div>
<div class="fourcol last" style="float:;">
<p><center><i class="icon-chat" style="font-size:80px; color:;"></i></center></p>
<h4 style="text-align: center;">More Traffic</h4>
<p style="text-align: center;"><span style="font-size: small;">77% of consumers always <strong>double check a business reputation</strong>. More walk-in customers and higher spends result from positive reviews.</span></p>
</div><div class="clearboth"></div>
<div class="clearfix"></div>
<hr class="symple-spacing " style="height: 30px" />
<p style="text-align: center;"><span style="font-size: small;">Introducing Feedback Shield, an exclusive platform that makes it easy for local businesses to collect and share online reviews from customers. You own a unique service that helps build, improve or repair your online presence while gaining powerful insight of your business.<br />
</span></p>
<p style="text-align: center;"><span style="font-size: small;"><em>Protect your online reputation and boost revenue.</em></span></p>
<p style="text-align: center;"><a class="button medium  custom scroll-link" target="_self" href="#" data-slide="concept"><span class="button-text">Scroll Down to Learn More</span></a>
                    </section> <!-- end article section -->

                </article> <!-- end article -->

            </div> <!-- end #main -->

        </div> <!-- end #inner-content -->

    </div> <!-- end #container -->







    <div id="container-1160" class="container" data-name="concept">

              

        <div class="wrap clearfix inner-content">

            <div class="twelvecol first clearfix main" role="main">

                <article id="post-1160" class="clearfix post-1051 page type-page status-publish hentry" role="article">

                    <section class="entry-content clearfix">
                        </section></article></div></div><div class="full default" style="display:block !important;background-color:#414141; border-top:; border-bottom:; padding:0px 0px;"><div class="wrap clearfix">
<hr class="symple-spacing " style="height: 30px" />
<h3 style="text-align: center;"><span style="color: #f6f6f6;"><strong>Collect feedback effortlessly</strong></span></h3>
<p style="text-align: center;"><span style="color: #f6f6f6; font-size: small;">The challenges of getting quality feedback are long over. Simply ask customers to visit your business review page. And you&#8217;re done. Depending on response, submissions get filtered or published on popular review sites like Yelp, Google+, TripAdvisor &amp; YellowPages. Imagine the business these reviews will bring.</span></p>
</div></div><div><div class="wrap clearfix"><article role="article"><section class="entry-content clearfix">
<hr class="symple-spacing " style="height: 10px" />
</section></article></div></div><div class="full default" style="display:block !important;background-color:#414141; border-top:; border-bottom:; padding:0px 0px;"><div class="wrap clearfix">
<img src="http://www.feedbackshield.com/wp-content/uploads/2014/08/reputation-management-services.png" alt="reputation-management-services" width="960" height="713" class="aligncenter size-full wp-image-1476" srcset="http://www.feedbackshield.com/wp-content/uploads/2014/08/reputation-management-services.png 960w, http://www.feedbackshield.com/wp-content/uploads/2014/08/reputation-management-services-300x222.png 300w, http://www.feedbackshield.com/wp-content/uploads/2014/08/reputation-management-services-192x144.png 192w" sizes="(max-width: 960px) 100vw, 960px" /></div></div><div><div class="wrap clearfix"><article role="article"><section class="entry-content clearfix">
<div class="fourcol" style="float:;">
<div class="luxe-animate hidden fadeInDown" style="-webkit-animation-delay:s;
                               -moz-animation-delay:s;
                                -ms-animation-delay:s;
                                 -o-animation-delay:s;
                                    animation-delay:s; -webkit-animation-delay:s;
                                 -moz-animation-delay:s;
                                  -ms-animation-delay:s;
                                   -o-animation-delay:s;
                                      animation-delay:s;">
<h1 class="myFont"><span style="color: #ae895d; font-size: 60px;">step 1</span></h1>
<p style="text-align: center;"><span style="color: #f6f6f6; font-size: small;"><em>Setup and customize your business landing page in minutes. Add or remove review platforms, tailor your display messages to your customer, and change your display image with just a few clicks.</em></span></p>
</div>
</div>
<div class="fourcol" style="float:;">
<div class="luxe-animate hidden fadeInDown" style="-webkit-animation-delay:s;
                               -moz-animation-delay:s;
                                -ms-animation-delay:s;
                                 -o-animation-delay:s;
                                    animation-delay:s; -webkit-animation-delay:s;
                                 -moz-animation-delay:s;
                                  -ms-animation-delay:s;
                                   -o-animation-delay:s;
                                      animation-delay:s;">
<h1 class="myFont"><span style="color: #ae895d; font-size: 60px;">step 2</span></h1>
<p style="text-align: center;"><span style="color: #f6f6f6; font-size: small;"><em>Simply ask customers to visit your business feedback page. When customers provide feedback, their rating directs them to your outlet of choice. Positive reviews can be published online while negative reviews get sent directly to you.</em></span></p>
</div>
</div>
<div class="fourcol last" style="float:;">
<div class="luxe-animate hidden fadeInDown" style="-webkit-animation-delay:s;
                               -moz-animation-delay:s;
                                -ms-animation-delay:s;
                                 -o-animation-delay:s;
                                    animation-delay:s; -webkit-animation-delay:s;
                                 -moz-animation-delay:s;
                                  -ms-animation-delay:s;
                                   -o-animation-delay:s;
                                      animation-delay:s;">
<h1 class="myFont"><span style="color: #ae895d; font-size: 60px;">step 3</span></h1>
<p style="text-align: center;"><span style="color: #f6f6f6; font-size: small;"><em>Learn about your customers and business first hand. Get notifications instantly, check reviews anytime, anywhere. Follow up with unsatisfied submissions. Export data for other marketing promotions.</em></span></p>
</div>
</div><div class="clearboth"></div>
<div class="clearfix"></div>
<p style="text-align: center;"><a class="button medium  gold " target="_self" href="/behind-the-scenes/" data-slide=""><span class="button-text">Discover Behind the Scenes</span></a>
                    </section> <!-- end article section -->

                </article> <!-- end article -->

            </div> <!-- end #main -->

        </div> <!-- end #inner-content -->

    </div> <!-- end #container -->







    <div id="container-1359" class="container" data-name="supported-sites">

              

        <div class="wrap clearfix inner-content">

            <div class="twelvecol first clearfix main" role="main">

                <article id="post-1359" class="clearfix post-1051 page type-page status-publish hentry" role="article">

                    <section class="entry-content clearfix">
                        <h3 style="text-align: center;"><strong>Supported Sites<br />
</strong></h3>
<img class="aligncenter size-full wp-image-1103" src="http://www.feedbackshield.com/wp-content/uploads/2012/09/online-reputation-management.png" alt="online-reputation-management" width="1342" height="82" srcset="http://www.feedbackshield.com/wp-content/uploads/2012/09/online-reputation-management.png 1342w, http://www.feedbackshield.com/wp-content/uploads/2012/09/online-reputation-management-300x18.png 300w, http://www.feedbackshield.com/wp-content/uploads/2012/09/online-reputation-management-1024x62.png 1024w" sizes="(max-width: 1342px) 100vw, 1342px" />
<p style="text-align: center; font-size: 13px;">Up to 14+ review website options including 3 additional custom URL redirects, perfect for sending customers to internal company feedback surveys.</p>
                    </section> <!-- end article section -->

                </article> <!-- end article -->

            </div> <!-- end #main -->

        </div> <!-- end #inner-content -->

    </div> <!-- end #container -->







    <div id="container-924" class="container" data-name="features">

              

        <div class="wrap clearfix inner-content">

            <div class="twelvecol first clearfix main" role="main">

                <article id="post-924" class="clearfix post-1051 page type-page status-publish hentry" role="article">

                    <section class="entry-content clearfix">
                        <h3 style="text-align: center;"><strong>Feedback Shield Features</strong></h3>
</section></article></div></div><div class="full default" style="display:block !important;background-color:; border-top:; border-bottom:; padding:15px 0px;"><div class="wrap clearfix"></div></div><div><div class="wrap clearfix"><article role="article"><section class="entry-content clearfix">
<div class="sixcol" style="float:;">
<h4 style="text-align: center;">Gather online reviews</h4>
<p style="text-align: center; font-size: 13px;">Professionally created feedback funnel that<br />
enables customers to post reviews on popular platforms</p>
</div>
<div class="sixcol last" style="float:;">
<h4 style="text-align: center;">In-depth customer insight</h4>
<p style="text-align: center; font-size: 13px;">Know exactly what your customers think about<br />
your product or service and meet their needs</p>
</div><div class="clearboth"></div>
<div class="clearfix"></div>
<div class="fourcol" style="float:;">
<h4 style="text-align: center;">Increase customer retention</h4>
<p style="text-align: center; font-size: 13px;">Acknowledge unhappy customers instantly,<br />
identify and resolve problems quickly</p>
</div>
<div class="fourcol" style="float:;">
<h4 style="text-align: center;">Fast and simple setup</h4>
<p style="text-align: center; font-size: 13px;">Be up and running in minutes,<br />
no technical experience needed</p>
</div>
<div class="fourcol last" style="float:;">
<h4 style="text-align: center;">Easy client management</h4>
<p style="text-align: center; font-size: 13px;">Customer feedback saved on secure backend,<br />
review data online whenever, wherever you want</p>
</div><div class="clearboth"></div>
<div class="clearfix"></div>
<div class="sixcol" style="float:;">
<h4 style="text-align: center;">Software integration</h4>
<p style="text-align: center; font-size: 13px;">Effortlessly export customer data to Excel<br />
and use for other marketing promotions</p>
</div>
<div class="sixcol last" style="float:;">
<h4 style="text-align: center;">Motivate your employees</h4>
<p style="text-align: center; font-size: 13px;">Learn about and recognize your best staff,<br />
customers can review employee performance</p>
</div><div class="clearboth"></div>
<p style="text-align: center;"><a class="button medium  custom " target="_blank" href="http://coffeecommissary.collect.reviews" data-slide=""><span class="button-text">Experience the Demo</span></a>
<p style="text-align: center;"><span style="font-size: small;"><em>Want the behind the scenes tour? Email us.</em></span></p>
<p style="text-align: center;">
                    </section> <!-- end article section -->

                </article> <!-- end article -->

            </div> <!-- end #main -->

        </div> <!-- end #inner-content -->

    </div> <!-- end #container -->







    <div id="container-63" class="container" data-name="contact">

              

        <div class="wrap clearfix inner-content">

            <div class="twelvecol first clearfix main" role="main">

                <article id="post-63" class="clearfix post-1051 page type-page status-publish hentry" role="article">

                    <section class="entry-content clearfix">
                        <h3 style="text-align: center;"><strong>Interested in finding out more?</strong></h3>
<p style="text-align: center; font-size: 13px;">We&#8217;re just as interested in you. Learn more about owning our service and experience an investment your future business will thank you for.</p>
<div class="sixcol" style="float:;">
<div class="wpcf7" id="wpcf7-f1240-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form name="" action="/#wpcf7-f1240-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1240" />
<input type="hidden" name="_wpcf7_version" value="3.9.3" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1240-o1" />
<input type="hidden" name="_wpnonce" value="a8b0e21bd0" />
</div>
<p><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Who are we speaking to?" /></span></p>
<p><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Best email to reach you?" /></span></p>
<p><span class="wpcf7-form-control-wrap website"><input type="text" name="website" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Your company website?" /></span></p>
<p><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="2" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="What&#039;s on your mind?"></textarea></span></p>
<p><span class="wpcf7-form-control-wrap referred"><input type="text" name="referred" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="How did you hear about Feedback Shield?" /></span></p>
<p><center><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></center></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
</div>
<div class="sixcol last" style="float:;">
<p style="text-align: center; font-size: 13px;"><em>Based in Los Angeles, CA – Serving Businesses Worldwide</em></p>
    <style>
                #map_canvas {
                  width: 100%;
                  height: 280px;
                }
              </style><script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
// Standard google maps function
function initialize() {
    var myLatlng = new google.maps.LatLng(34.052234,-118.243685);
    var myOptions = {
        zoom: 10,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var styles = [
{
stylers: [
  { hue: "#000000" },
  { saturation: -100 },
  { "lightness": 0 }
]
},{
featureType: "road",
elementType: "geometry",
stylers: [
  { visibility: "simplified" }
]
}
];

map.setOptions({styles: styles});
    MiinusMarker();
}


// Function for adding a marker to the page.
function addMarker(location) {
    marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: "http://www.feedbackshield.com/wp-content/themes/miinus/library/images/map-marker.png"
    });
}

// Testing the addMarker function
function MiinusMarker() {
       userLocation = new google.maps.LatLng(34.052234,-118.243685);
       addMarker(userLocation);
}
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="google-map"><div id="map_canvas"></div></div>
<h6 style="text-align: center; font-size: 10px;">DISCLAIMER: This site, the products and services offered on this site are not associated, affiliated, endorsed, sponsored, reviewed, tested or certified by any review site.</h6>
</div><div class="clearboth"></div>
                    </section> <!-- end article section -->

                </article> <!-- end article -->

            </div> <!-- end #main -->

        </div> <!-- end #inner-content -->

    </div> <!-- end #container -->






         
</div> <!-- end #content -->
  <footer class="footer" role="contentinfo">
                                  <div id="footer-copy">
                                <div id="inner-footer" class="wrap clearfix">

                                    <nav role="navigation">
                                                                                </nav>

                                    <p style="text-align: center;font-size: 12px"><a href="/home">HOME</a> | <a href="/?slide=concept">CONCEPT</a> | <a href="/behind-the-scenes/">HOW IT WORKS</a> | <a href="/?slide=contact">CONTACT</a><br />
&copy; 2014 Feedback Shield | <a href="/tos-privacy-policy">TOS &amp; PRIVACY POLICY</a> | All Rights Reserved</p>

                                </div> <!-- end #inner-footer -->
                            </div>
  </footer> <!-- end footer -->


            <script type="text/javascript">  	                 
/*-----------------------------------------------------------------------------------

ScrollTo

-----------------------------------------------------------------------------------*/
(function($) {
"use strict";
jQuery(document).ready(function($) {
  jQuery('a.scroll-link').click(function (e) {  
                      
    e.preventDefault();
    jQuery.scrollTo.window().queue([]).stop(); // Prevent scroll queue from building up
    var dataSlide = $(this).attr('data-slide');
    var dataName = $('div[data-name='+dataSlide+']');
    if (typeof dataSlide !== 'undefined' && dataSlide !== false && dataName.length > 0){
        if(dataName.offset().top > 250) {
            var offsetHeight = 0 - 60;
        }
        else {
            var offsetHeight = 0 - 80;
        }
        var header = $('#header-wrapper');
        if (header.css('position') != 'fixed' || header.css('display') == 'none') { offsetHeight = 0; };      
    
        jQuery(window).scrollTo(dataName, {duration:1600, easing:'swing', offset:offsetHeight, axis:'y' }, {queue:false});
    }
    else {
        document.location.href= $(this).attr('data-parent') + '?slide=' + dataSlide;
    }
  });
                    
});
})(jQuery);

/*-----------------------------------------------------------------------------------

ScrollTo Slide GET

-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------

Navigation Scroll

-----------------------------------------------------------------------------------*/
(function($) {
"use strict";
jQuery(window).scroll(function($) {    
   var scroll = jQuery(window).scrollTop();
   if (scroll >= 250) {
       jQuery("#header-wrapper").addClass("scrolled-nav");
   }
   else {
       jQuery("#header-wrapper").removeClass("scrolled-nav");
   }
});
})(jQuery);

</script>		
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.feedbackshield.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/plugins/wp-retina-2x/js/retina.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/comment-reply.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/jquery.scrollTo-1.4.3.1-min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/scripts.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/core.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/widget.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/tabs.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/mouse.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/resizable.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/draggable.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/button.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/position.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/jquery/ui/dialog.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/jquery.fancybox.pack.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/selectnav.min.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/jquery.fancybox-media.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-content/themes/miinus/library/js/retina.js'></script>
<script type='text/javascript' src='http://www.feedbackshield.com/wp-includes/js/wp-embed.min.js'></script>
<!-- Clicky Web Analytics - http://clicky.com, WordPress Plugin by Yoast - https://yoast.com/wordpress/plugins/clicky/ -->
  <script type='text/javascript'>
  function clicky_gc(name) {
    var ca = document.cookie.split(';');
    for (var i in ca) {
      if (ca[i].indexOf(name + '=') != -1) {
        return decodeURIComponent(ca[i].split('=')[1]);
      }
    }
    return '';
  }
  var username_check = clicky_gc('comment_author_90850947621e2bee477d5fa5d03c5e04');
  if (username_check) var clicky_custom_session = {username: username_check};
</script>
<script type="text/javascript">
    var clicky = { log : function () { return true;	}, goal: function () { return true;	} };
var clicky_site_id = 100770465;
(function () {
  var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild(s);
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100770465ns.gif" /></p></noscript>

