/*********************
CUSTOM FOOTER SETTINGS
*********************/  

footer[role="contentinfo"] h1, footer[role="contentinfo"] h2, footer[role="contentinfo"] h3, footer[role="contentinfo"] h4, footer[role="contentinfo"] h5, footer[role="contentinfo"] h6{
	color:#fcfcfc ;
}
footer[role="contentinfo"] {
	background:#262626 ;
	color:#999999 ;	
}
footer[role="contentinfo"] #footer-widgets a{
	color:#ffffff ;	
}
#footer-copy {
	background:#e3e3e3 ;
	color:#ae895d ;	
}
footer[role="contentinfo"] a{
	color:#ae895d ;	
}

