/*********************
ONE PAGE SETTINGS
*********************/  

        #container-546 {
                            background-color:rgba(255,255,255,1);
                
        }
/*    
        #container-554 {
                            background-color:;
                
        }
    
        #container-1132 {
                            background-color:;
                
        }
    
        #container-1289 {
                            background-color:;
                
        }
    
        #container-1424 {
                            background-color:;
                
        }
    
        #container-28 {
                            background-color:;
                
        }
 */   
        #container-63 {
                            background-color:rgba(255,255,255,1);
                
        }
    
        #container-348 {
                            background-color:rgba(246,246,246,1);
                
        }
    
        #container-924 {
                            background-color:rgba(246,246,246,1);
                
        }
    
        /*#container-1051 {*/
                            /*background-color:;*/
                
        /*}*/
    
        #container-1160 {
                            background-color:rgba(65,65,65,1);
                
        }
    
        #container-1359 {
                            background-color:rgba(255,255,255,1);
                
        }
    
        /*#container-1252 {*/
                            /*background-color:;*/
                
        /*}*/
    
        /*#container-1427 {*/
                            /*background-color:;*/
                
        /*}*/
    
        /*#container-1429 {*/
                            /*background-color:;*/
                
        /*}*/
    



