<header class="header" role="banner">
  <div id="header-wrapper" class="horizontal-fixed">
    <div id="inner-header" class="wrap clearfix">
    
    <!-- to use a image just replace the bloginfo('name') with your img src and remove the surrounding <p> -->
      <div id="logo" class="h1">
        <span>
          <a href="/" rel="nofollow">
            <img src="http://www.feedbackshield.com/wp-content/uploads/2013/10/feedbackshield-logo.png" alt="Feedback Shield" />
          </a>
        </span>
      </div>
    
    <nav role="navigation" class=" horizontal-fixed">
      <div id="mobile-nav-button"></div>
      <ul id="menu-top-nav" class="nav top-nav clearfix">
        <li id="menu-item-1089" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page">
          <a data-slide="home" data-parent="http://www.feedbackshield.com/" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page" href="http://www.feedbackshield.com/one-page-holder/home/">Home</a>
        </li>
        <li id="menu-item-1216" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page">
          <a data-slide="concept" data-parent="http://www.feedbackshield.com/" class="menu-item scroll-link menu-item-type-post_type scroll-link menu-item-object-page" href="http://www.feedbackshield.com/one-page-holder/concept/">The Concept</a>
        </li>
        <li id="menu-item-1215" class="menu-item menu-item-type-custom menu-item-object-custom">
          <a data-slide="1844-fbshield" data-parent="http://www.feedbackshield.com/" class="menu-item menu-item-type-custom menu-item-object-custom" href="tel:8443274435">1(844) FBSHIELD</a>
        </li>
        <li id="menu-item-1165" class="menu-item menu-item-type-custom menu-item-object-custom">
          <a data-slide="login" data-parent="http://www.feedbackshield.com/" class="menu-item menu-item-type-custom menu-item-object-custom" href="/company-login">Login</a>
        </li>
      </ul>                                                
      <div id="header3" class="last" role="complementary">
      </div>
    </nav>

    </div> <!-- end #inner-header -->
  </div> <!-- end #header-wrapper -->
</header> <!-- end header -->
